.contact {
  text-align: center;
  background-color: rgba(127, 255, 212, 0.288);
  /* height: 100vh; */
  padding-top: 100px;
}
.icons {
  margin: 0 auto;
  display: flex;
  color: blue;
  padding-top: 50px;
  
}
.contact p {
  color: green;
  padding-top: 20px;
}
