.reg {
  text-align: center;
  background-color: rgba(127, 255, 212, 0.616);
  height: 100vh;
  padding-top: 100px;
}
.formInput {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  
}
.formInput label {
  text-align: left;
  display: block;
}
.formInput h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.formInput input,
.formInput textarea,
.formInput select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.formInput button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
}
@media (max-width:600px){
  .formInput{
    padding: 0 10px 0 10px;

  }
}
