* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.664);
  color: white;
  min-height: 50px;
  padding: 0 5px 0 5px;
  
  
  
}
a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}
header nav a.active{
  background: rgba(0, 0, 128, 0.24);

}
header{
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (max-width:600px) {
  nav{
    max-width: 100%;
    padding: 0 5px 0 5px;
  }
}

